section > div {
  width: 15px;
  height: 15px;
  border: 1px dotted gray;
  float: left;
  box-sizing: border-box;
}

#grid {
  width: 750px;
  height: 750px;
  clear: both;
  background-color: white;
}

#colors {
  width: 750px;
  height: 100px;
  padding: 0 0 0 15px;
}

aside > div {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 100%;
  margin: 20px 20px;
  float: left;
}

input {
  margin: 0 240px 0 0;
  float: right;
}
